*.o
*.png
*.svg
*.s
a.out

/ll2x
/.dep

/include/parser/yyparse*
/include/parser/yylex*
/include/yyparse.h
/src/parser/yyparse*
/src/parser/yylex*

/core
/diriter*
/csmith*
/simpleshell*
/comparisons*
